<div style="
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-gap: 20px;
  padding: 20px;
">
  <p style="font-size: 28px">Welcome, <%= @santa.name %>.</p>

  <p style="font-size: 28px">Please get a gift for <%= @santa.recipient.name %>.</p>

  <p style="font-size: 20px">Let's keep the gifts around but no more than $200 in value.</p>
</div>
