<div style="height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; flex-gap: 20px;">
  <p style="font-size: 28px">Welcome, <%= @santa.name %>.</p>

  <p style="font-size: 28px">You will get a gift for <%= @santa.recipient.name %>.</p>

  <p style="font-size: 20px">Gifts should be no more than $50 in value, and Merry Christmas and stuff.</p>
</div>
